.el-checkbox__input.is-checked .el-checkbox__inner::after {
  border-color: var(--custom-font-color3) !important;
}
.el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: var(--custom-color-primary) !important;
  border-color: var(--custom-color-primary) !important;
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
  background-color: var(--custom-font-color3) !important;
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: var(--custom-color-primary) !important;
  border-color: var(--custom-color-primary) !important;
}
.el-checkbox__inner {
  border-color: var(--custom-font-color2) !important;
}
